// colors

$primary-col:rgb(15, 207, 233);
$secondary-col:  rgb(38, 209, 144);
$white: rgb(224, 220, 220);
$dark: rgb(15, 27, 63);
$h1: rgb(202, 30, 218);
$h2: rgb(15, 149, 233);
$border-gray: rgba(224, 220, 220, $alpha: .2);

// margins

$size-xs: 10px;
$size-sm: 16px;
$size-md: 20px;
$size-lg: 26px;
$size-xl: 36px;
